<h2 class="title">變更密碼</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新密碼" %><br />
    <% if @minimum_password_length %>
      <em>(長度至少<%= @minimum_password_length %>字元)</em><br />
    <% end %>
    <div class="control">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認新密碼" %><br />
    <div class="control">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "變更密碼", class: 'button is-info' %>
  </div>
<% end %>
<hr />
<%= render "devise/shared/links" %>
